@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

:root {
  --fixed_white: #fff;
  --fixed_dark: #404040;
  --text-color: #2c2f34;
  --second-bg: #f0f0f0;
  --main-bg: #ffffff;

  --border-color: #dee2e6;
  --shadow-color: 0 0 0 0 rgba(90, 113, 208, 0.11),
    0 4px 16px 0 rgba(167, 175, 183, 0.33);
  --text-color: #4b4d50;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.7px;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
