.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  background-color: var(--main-bg);

  box-shadow: var(--shadow-color);

  .row {
    .col-4 {
      .image-menubar {
        .menu-icon {
          display: flex;
        }
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a.image {
          margin-left: -8px;
          width: 170px;
          height: 70px;
          cursor: pointer;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    .col-8 {
      ul.link-list {
        background-color: aqua;
        height: 75px;
        transition: all 0.5s;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-column-gap: 8px;
        .social-icon {
          display: flex;
          grid-column-gap: 8px;
        }
        .link-item {
          background-color: var(--second-bg);
          height: 30px;
        }
      }
    }
  }
}
