.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  background-color: var(--main-bg);

  box-shadow: var(--shadow-color);

  .row {
    #toggle {
      display: none;
    }
    @media only screen and (max-width: 991px) {
      flex-direction: column;

      .col-4 {
        width: 100%;

        .image-menubar {
          label.menu-icon {
            visibility: visible !important;
            display: flex !important;
          }
        }
      }

      #toggle:checked ~ .col-8 ul.link-list.toggle {
        height: 150px !important;
        transition: all 0.5s;
      }

      .col-8 {
        width: 100%;
        ul.link-list {
          flex-direction: column;
          grid-gap: 10px;
          justify-content: flex-start !important;
          height: 0px !important;
          overflow: hidden;
        }
      }
    }

    .col-4 {
      .image-menubar {
        label.menu-icon {
          visibility: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          height: 35px;
          width: 35px;
          background-color: #d88012;
          outline: none;
          cursor: pointer;
          border-radius: 5px;
          color: #fff;
        }
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a.image {
          margin-left: -8px;
          width: 170px;
          height: 70px;
          cursor: pointer;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
    .col-8 {
      ul.link-list {
        height: 75px;
        transition: all 0.5s;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        grid-column-gap: 20px;

        .link-item {
          font-size: 16px;
          font-weight: 650;

          a {
            color: var(--text-color);
          }
        }
        .social-icon {
          display: flex;
          grid-column-gap: 10px;

          .link-item {
            background-color: var(--second-bg);
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
              font-size: 15px;
              display: flex;
              justify-content: center;
              align-items: center;

              span {
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--text-color);
              }
            }
          }
        }
      }
    }
  }
}
